#SHIELD_POSTGRES_HOST="appblocks-dev.cuwnoboxzahg.us-east-2.rds.amazonaws.com"
SHIELD_POSTGRES_HOST=postgres
SHIELD_POSTGRES_USER="postgres"
SHIELD_POSTGRES_NAME=postgres
SHIELD_POSTGRES_PORT=5432
SHIELD_POSTGRES_SSLMODE=disable
SHIELD_POSTGRES_TIMEZONE=Asia/Shanghai
SHIELD_POSTGRES_PASSWORD="postgres"

ID_SECRET = "80ed1a0de5d2790ed4c51b3721f4a9037e1e0d730f4e83686a57105bc8924531"
ACCESS_SECRET = "RHuF2U7aBWFd5lIZLG3h+da1iboVlA/ivTLE4HAM8UKEqhJQ+oLV6Rpz+giEtkeF
g0ZqN96Hw+Q8MyFIt5Vf2A=="
REFRESH_SECRET = "xhYC7pqqIArVwyZKBBPQ12Xf1Q/YlGJjtSo7tjYvSxUDVbSiJ9XVgpMd96xpvzdy
l6vZuwAI3XPqSBGXuI3G9A=="
APPBACCESS_SECRET = "DLqCijXmFSf65VhpuI7biX6jTdLXYN/o0+O79KCmL7bOGGVVwzqD/RwbioiVRzdl
cHGEW4C2JzKNxQhcsceDfA=="
APPBREFRESH_SECRET = "S0yH10dhjmNUeaqqS/jDBBSH2HZYWWop5mYYRKkp0AdoUljFZcTUpXSrqR17GGGZ
KBqZ4asHwEFuL5zYk1E08A=="
DEVICEACCESS_SECRET = "KHtam9zV0NWUddtq76uKU2YwZTJ4X9uF5ayX1CYZYsYkzSK6qQKrCf7t7owAeSIg
BhfL7Dev+qXuYUoZ7htC3Q=="
APPACCESS_SECRET = "rMNqmdceFvEAcA/35iH10HexI5EUhh3tocP9OerlNK2pT1dffA30TwrhOO6SUYzW
StLBXmjGWct1zXh1Cw0Rcg=="
APPREFRESH_SECRET = "01Zoc7zmqzMSTYXLQeH5oIFLkJZxG55pt54BgxETqb3O3wENm3FHVe4pwNS8ouj9
6t2W8FdS0Nkl6nz8g3DOSA=="
VERIFY_EMAIL_SECRET = "eDb7G2a0i7ql+Bdqkm5Cbw91w8gMZCbBBsFAoteJU6/7GSZEs+5tiIIlEi53vYCb
jCmznPwFI5+ueOu/jPYijA=="

ID_TOKEN_EXPIRY = "604800"   # in seconds
ACCESS_TOKEN_EXPIRY = "10000"    # in seconds
REFRESH_TOKEN_EXPIRY = "604800"   # in seconds
APPACCESS_TOKEN_EXPIRY = "10000"   # in seconds
APPREFRESH_TOKEN_EXPIRY = "604800"   # in seconds
RT_EXPIRY_EXT = "10"  # in seconds

SHIELD_GOOGLE_CLIENT_ID="sample client id"
SHIELD_GOOGLE_CLIENT_SECRET="sample secret"
SHIELD_GOOGLE_REDIRECT="http://localhost:8011/auth/google/callback"

SHIELD_TWITTER_API_KEY="sample key"
SHIELD_TWITTER_API_SECRET="sample secret"
SHIELD_TWITTER_CALLBACK="http://localhost:8011/auth/twitter/callback"

SHIELD_LINKEDIN_CLIENT_ID="sample client id"
SHIELD_LINKEDIN_CLIENT_SECRET="sample key"
SHIELD_LINKEDIN_REDIRECT="http://localhost:8011/auth/linkedin/callback"

# ALLOWED_DOMAINS = "*"
ALLOWED_DOMAINS = "http://localhost:3000"
ID_TOKEN_NAME = "_dev_id_t"

SHIELD_MAILER_EMAIL="sample email"
SHIELD_MAILER_PASSWORD="sample pass"
SHIELD_MAILER_HOST=smtp.gmail.com
SHIELD_MAILER_PORT=587
SHIELD_REDIS_HOST="redis"
SHIELD_REDIS_PORT="6379"
SHIELD_REDIS_PASSWORD=""
SHIELD_REDIS_DB="0"

SHIELD_GRPC_PORT=":8010"
SHIELD_HTTP_PORT=":8011"
GRPC_ENABLE="1"